<!--<ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header>-->
  
<ion-content>
  <ion-card class="welcome-card">
    <!--<ion-img src="/asserts/shapes.svg"></ion-img>-->
    <ion-img class="img" src="./assets/picsfive.jpg" hieght="40"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Every vote counte</ion-card-subtitle>
      <ion-card-title>Welcome to the best campus voting app!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Starting point for Ionic 4 Application with Authentication.</p>
    </ion-card-content>
  </ion-card>

  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" color="primary" (click)="login()">
          Continue
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <!--<ion-col>
        <ion-button color="primary" expand="full" color="primary"
          (click)="login()">Login</ion-button>
      </ion-col>-->
      <!--<ion-col>
        <ion-button color="primary" expand="full" color="danger"
          (click)="register()">Register</ion-button>
      </ion-col>-->
    </ion-row>
  </ion-toolbar>
</ion-footer>
